:root {
}

body {
  margin: 0;
}

nav {
  width: 30%;
}

.wrap {
  display: flex;
}

.user-profil {
  width: 70%;
  margin: 0;
}

.header-div {
  margin-bottom: 300px;
}

.profil-header {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0 296.5px;
}

.profil-header::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid gray;
  width: 100%;
  bottom: -70px;
}

.profil-pic {
  width: 291.67px;
  height: 150px;
}

.profil-pfp {
  width: 150px;
}

.profil-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline-start: 0;
}

.profil-wrapper h1 {
  font-size: 20px;
  color: black;
  margin-right: 30px;
}

.edit-button {
  width: 118px;
  height: 32px;
  border-radius: 10px;
  border: transparent;
  margin-right: 10px;
}

.edit-button a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.settings-icon {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.settings-icon i {
  font-size: 25px;
}

.profil-info ul {
  gap: 40px;
}

.profil-info li {
  list-style-type: none;
}

.profil-info li h2 {
  font-size: 16px;
}

.følgere-button {
  font-family: "Times New Roman", Times, serif;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.profil-mininavn {
  font-size: 14px;
  color: black;
}

.test {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 90px;
  margin-bottom: 20px;
}

.test a {
  text-decoration: none;
  color: black;
  position: relative;
}

.test i {
  font-size: 12px;
}

.camera {
  display: flex;
  margin-bottom: 20px;
}

.camera-button {
  background-color: transparent;
  border: transparent;
  margin: auto;
  margin-top: 80px;
  cursor: pointer;
}

.camera-button img {
  width: 62px;
  display: inline-block;
}

.under-camera {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
}

.under-camera h2 {
  font-size: 30px;
  margin: 0;
}

.under-camera p {
  font-size: 14px;
}

.under-camera button {
  text-decoration: none;
  color: #0095f6;
  font-size: 14px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.gem {
  display: flex;
  margin-bottom: 20px;
}

.gem-stuff h4 {
  font-size: 12px;
}

.gem-stuff a {
  text-decoration: none;
  color: #0095f6;
  font-size: 14px;
}

.gem-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 296px;
}

.gem-button {
  background-color: transparent;
  border: transparent;
  margin: auto;
  margin-top: 80px;
}

.gem-button img {
  width: 62px;
  display: inline-block;
}

.under-gem {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
}

.under-gem h2 {
  font-size: 30px;
  margin: 0;
}

.under-gem p {
  font-size: 14px;
  max-width: 20%;
  margin: auto;
  margin-top: 15px;
}

.tagget {
  display: flex;
  margin-bottom: 20px;
}

.tagget-button {
  background-color: transparent;
  border: transparent;
  margin: auto;
  margin-top: 80px;
}

.tagget-button img {
  width: 62px;
  display: inline-block;
}

.under-tagget {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
}

.under-tagget h2 {
  font-size: 30px;
  margin: 0;
}

.under-tagget p {
  font-size: 14px;
}

.profil-footer {
  display: flex;
  flex-direction: column;
}

.footer-links1 {
  display: flex;

  gap: 20px;
  justify-content: center;
}

.footer-links1 a {
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.selected::after {
  position: absolute;
  display: flex;
  content: "";
  border-top: 2px solid black;
  width: 100%;
  align-items: center;
  text-align: center;
  top: -110%;
}

.popup-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.466);
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 520px;
  width: 400px;
  border-radius: 13px;
  background-color: white;
}

.box button {
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  height: 400px;
  cursor: pointer;
}

.box button:last-child {
  border-bottom: transparent;
}

.popup-opslag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.466);
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 100vh;
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 790px;
  width: 750px;
  border-radius: 13px;
  background-color: white;
}

.box2 h2 {
  position: relative;
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-bottom: 320px;
}

.box2 h2::after {
  position: absolute;
  display: flex;
  content: "";
  border-bottom: 1px solid lightgrey;
  width: 100%;
  align-items: center;
  text-align: center;
  bottom: -110%;
}

.box2 h3 {
  font-size: 20px;
}

.box2 button {
  background-color: #0095f6;
  border: transparent;
  color: #fff;
  width: 150px;
  height: 32px;
  border-radius: 10px;
  cursor: pointer;
}

.button-icon {
  background-color: transparent;
  border: transparent;
}

.fa-times {
  font-size: 20px;
  color: #fff;
  z-index: 420;
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.popup-følgere {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.466);
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 100vh;
}

.box3 {
  display: flex;
  flex-direction: column;
  height: 440px;
  width: 400px;
  border-radius: 13px;
  background-color: white;
}

.pop-top {
  position: relative;
  display: flex;
  align-items: center;
}

.pop-top::after {
  position: absolute;
  display: flex;
  content: "";
  border-bottom: 1px solid lightgrey;
  width: 100%;
  align-items: center;
  text-align: center;
  bottom: 10px;
}

.fa-x {
  margin-right: 10px;
  cursor: pointer;
}

.box3 h3 {
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.følgere-profil {
  display: flex;
}

.følgere-Profil-billed {
  width: 45px;
  height: 45px;
  padding-right: 15px;
  margin-top: 6px;
  margin-left: 10px;
}

.følgere-profil-text h2 {
  text-transform: lowercase;
  font-size: 14px;
  margin-bottom: 5px;
}

.følgere-profil-text p {
  font-size: 12px;
  margin: 0;
}

.følgere-profil-følg {
  font-size: 12px;
  margin-top: 12px;
  margin-left: 15px;
  text-decoration: none;
  color: #0095f6;
  margin-right: 150px;
}

.følgere-fjern {
  width: 63px;
  height: 32px;
  border: transparent;
  border-radius: 8px;
  margin-top: 8px;
  cursor: pointer;
}

.popup-samling {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.466);
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 100vh;
}

.box4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 171px;
  width: 400px;
  border-radius: 13px;
  background-color: white;
}

.box4 h3 {
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.pop-top2 {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.pop-top2::after {
  position: absolute;
  display: flex;
  content: "";
  border-bottom: 1px solid lightgrey;
  width: 100%;
  align-items: center;
  text-align: center;
  bottom: 10px;
}

#input-samling {
  width: 360px;
  height: 40px;
  margin-top: auto;
  border: solid 1px rgb(219, 219, 219);
  color: rgb(0, 0, 0);
  background-color: rgb(245, 245, 245);
  border-radius: 6px;
}

.next-button {
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 50px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.next-button::after {
  position: absolute;
  display: flex;
  content: "";
  border-bottom: 1px solid lightgrey;
  width: 100%;
  align-items: center;
  text-align: center;
  bottom: 30px;
}

.hide {
  display: none;
}
